*{
    margin: 0 auto;
    
}

header{
    background: url("img/background_pic.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /*display: inline-flex;*/
    position: relative;
}

nav{
    background: rgba(0, 0, 0);
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-left: 30px;
}

.container{
    min-width:100%;
    min-height:200px;
    padding:0;
}

.logo-and-name{
    margin-left: 50px;
    display: inline-flex;

}

.links-on-header{
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 30px;
}

.main_text1{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.main_text{
    margin-left: 175px;
}

.text1, .text3{
    color: #fff;
    text-align: left;

}